---
layout: null
---
<!doctype html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8" />
  <title>Edit page</title>
</head>
<body>

<h1>Edit page</h1>

{% for page in site.pages %}
  {% if page.url == "/" %}
    {% assign data = page" %}
  {% endif %}
{% endfor %}

<form action="https://learningnerd-github-cms.glitch.me/" method="post">
  <p>
    <label>
      Title<br />
      <input type="text" name="title" value="{{ data.title }}" />
    </label>
  </p>
  <p>
    <label>
      Body<br />
      <textarea name="body" style="width: 30em; height: 15em;">{{ data.content }}</textarea>
    </label>
  </p>
  <p><button type="submit">Submit</button></p>
</form>

</body>
</html>
